@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
  --mainbg:#845EC2;
  --subbg:#B39CD0;
  --light:#FBEAFF;
  --btn:#00C9A7;
  --text:#3f3f3f;
  --errmsg:#C34A36;
  --successmsg:#49887d;
  --textcolor:rgb(90, 90, 90)
}
.App {
  text-align: center;
  /* font-family: "Nunito Sans", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--textcolor);
}

* {
  margin: 0;
  padding: 0.2rem;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--textcolor);
  transition: 0.1s;
  text-decoration: none;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Nunito Sans", sans-serif; */

}

.header{
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: var(--textcolor);
  border: .1rem solid rgb(100, 100, 240);
  /* background-color: black; */
  width: 100%;
  height: 5rem;
}
.username{
  font-size: 1.2rem;
  height: 5rem;
  border: .1rem solid rgb(100, 100, 240);
  display: flex;
  align-items: center;
  justify-content: center;
}
.split-section{
  display: flex;
  gap: .5rem;
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;

}
.upload-button{
  font-size: 1.2rem;
  height: 5rem;
  border: .1rem solid rgb(100, 100, 240);
  text-align: center;
}
.upload-button:hover{
  cursor: pointer;
  border-top: .5rem solid rgb(100, 100, 240);
  border-bottom: .5rem solid rgb(100, 100, 240);
  transition: 0.1s;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
  position:fixed;
  background: white;
  width: 40%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: .2rem solid rgb(100, 100, 240);
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: center; */
  /* align-items: center; */
}

input{
  width: 100%;
  border: 1px solid rgb(100, 100, 240);
  height: 1.5rem;
}
input:focus{
  outline: none;
  
}
textarea{
  width: 100%;
  border: 1px solid rgb(100, 100, 240);
}
textarea:focus{
  outline: none;
}
.modal-button-section{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.modalHeader{
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: .2rem solid rgb(100, 100, 240);
}
.modal-button{
  /* font-size: 1.2rem; */
  /* height: 5rem; */
  width: 5rem;
  border: .1rem solid rgb(100, 100, 240);
}
.modal-button:hover{
  cursor: pointer;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.news{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content:space-evenly;
  margin-top: 1rem;
}

.newsList{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 28rem;
  border: .1rem solid rgb(100, 100, 240);
  gap: .5rem;
  padding: .5rem;
}
.newsTitle{
  font-size: 1.2rem;
  font-weight: 500;
}
.newsImage{
  width: 26rem;
  height: 14rem;
}
.newsDesc{
  font-weight: 400;
}
.newsDate{
  font-weight: 500;
}

.auth-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.subauth-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.auth-toggle-section{
  border: .1rem solid rgb(100, 100, 240);
  padding: .5rem;
  width: 100%;
}

.fill-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.l-button{
  /* font-size: 1.2rem; */
  /* height: 5rem; */
  border: .1rem solid rgb(100, 100, 240);
  text-align: center;
  width: 30%;
}
.l-button:hover{
  cursor: pointer;
  border-left: .5rem solid rgb(100, 100, 240);
  border-right: .5rem solid rgb(100, 100, 240);
  transition: 0.1s;
}

.auth-button-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: .1rem solid rgb(100, 100, 240);
  width: 100%;
}
.auth-toggle-buttons{
  border: none ;
  width: 100%;
  cursor: pointer;

}

.rm-button{
  background-color: white;
}
.rm-button:hover{
  color:#6464f0;
}
.button-selected{
  background-color: #6464f0;
  color: white;
}