@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --mainbg: #845EC2;
  --subbg: #B39CD0;
  --light: #FBEAFF;
  --btn: #00C9A7;
  --text: #3f3f3f;
  --errmsg: #C34A36;
  --successmsg: #49887d;
  --textcolor: #e3e3e3;
  --linecolor: #3c4043;
  --bg1: #202124;
  --bg2: #1f1f1f;
  --bg3: #292a2d;
}

.App {
  /* text-align: center; */
  /* font-family: "Nunito Sans", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--textcolor);
  /* background-color: #6464f025; */
}

* {
  margin: 0;
  /* padding: 0.2rem; */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* color: var(--textcolor); */
  transition: 0.1s;
  text-decoration: none;
  background-color: var(--bg3);
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Nunito Sans", sans-serif; */

}

.header {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  /* border: .1rem solid #6464f0; */
  /* background-color: black; */
  width: 100%;
  /* height: 5rem; */
  color: #202124;
  background-color: var(--bg1);
  /* box-shadow: 0px 0px 5px rgb(255, 255, 255); */

}

.header-text {
  background-color: var(--bg1);
  color: #e3e3e3;
}

.menubar {
  /* position: fixed; */
  width: 100%;
  top: 0;
}

.username {
  font-size: 1rem;
  font-weight: 800;
  height: 4rem;
  border: .1rem solid var(--linecolor);
  color: #6464f0;
  border-radius: .3rem;
  min-width: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
}

.logout-button {
  border: .1rem solid var(--linecolor);
  border-radius: .3rem;
  color: var(--textcolor);
  cursor: pointer;
  height: 1.5rem;
  font-size: .7rem;
}

.logout-button:hover {
  color: white;
  background-color: #6464f0;
}

.split-section {
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: #202124;
  /* box-shadow: 0rem 0rem 2.5rem rgb(97, 97, 97); */
  border-bottom: .1rem solid #3c4043;
  padding: .5rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  z-index: 1000;
}

.upload-news-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: var(--bg1);
}

.upload-button {
  font-size: 1rem;
  height: 4rem;
  min-width: 5.5rem;
  border: .1rem solid var(--linecolor);
  border-radius: .3rem;
  color: #e3e3e3;
  text-align: center;
  background-color: var(--bg3);
  /* box-shadow: 0px 0px 3px #6464f0; */
}

.upload-button:hover {
  cursor: pointer;
  /* border-top: .5rem solid rgb(100, 100, 240); */
  /* border-bottom: .5rem solid rgb(100, 100, 240); */
  border-top: .5rem solid var(--linecolor);
  border-bottom: .5rem solid var(--linecolor);
  transition: 0.1s;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-size: .9rem;
  font-weight: 400;
  /* background-color: var(--bg3); */
}

.modal-main {
  /* box-shadow: 0rem 0rem 1rem var(--linecolor); */
  position: fixed;
  /* background: white; */
  background-color: var(--bg2);
  width: 30%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: .1rem solid var(--linecolor);
  border-radius: .3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: center; */
  /* align-items: center; */
}

.modal-main-div {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  background-color: var(--bg2);
}

.modal-headings {
  background-color: var(--bg2);
}

input {
  width: 100%;
  border: 1px solid var(--linecolor);
  height: 1.5rem;
  border-radius: .3rem;
  padding-left: .3rem;
  color: var(--textcolor);
}

input:focus {
  outline: none;
}

textarea {
  width: 100%;
  border: 1px solid var(--linecolor);
  color: var(--textcolor);
  border-radius: .3rem;
  padding-left: .3rem;
}

textarea:focus {
  outline: none;
}

.modal-button-section {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  margin-top: .5rem;
  background-color: var(--bg2);
}

.modalHeader {
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: .1rem solid rgb(100, 100, 240);
  background-color: var(--bg2);
}

.modal-button {
  height: 1.5rem;
  color: var(--textcolor);
  /* font-size: 1.2rem; */
  /* height: 5rem; */
  width: 5rem;
  border: .1rem solid var(--linecolor);
  border-radius: .3rem;
}

.modal-button:hover {
  cursor: pointer;
  border-left: .5rem solid var(--linecolor);
  border-right: .5rem solid var(--linecolor);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.news {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  margin-top: 9rem;
  /* background-color: #6464f023; */

}

.newsList {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 28rem;
  /* border: .1rem solid rgb(100, 100, 240); */
  gap: .5rem;
  padding: 1rem;
  background-color: #1f1f1f;
  border-radius: 1rem;
}

.newsTitle {
  background-color: #1f1f1f;
  font-size: 1rem;
  font-weight: 500;
}

.newsImage {
  background-color: #1f1f1f;
  width: 26rem;
  height: 14rem;
}

.newsDesc {
  background-color: #1f1f1f;
  font-size: .8rem;
  font-weight: 400;
}

.newsDate {
  margin-top: .5rem;
  background-color: #1f1f1f;
  font-size: .8rem;
  font-weight: 500;
}

.newsBy {
  /* margin-top: .5rem; */
  background-color: #1f1f1f;
  font-size: .8rem;
  font-weight: 500;

}

.auth-section {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: var(--textcolor);
  /* background-color: #6464f023; */
  /* background-color: var(--bg2); */
  /* height: 97vh; */
  /* background-color: var(--bg2); */
}

.subauth-section {
  background-color: var(--bg3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 25%;
  border-radius: .5rem;
}

.auth-toggle-section {
  border-radius: .5rem;
  border: .1rem solid var(--linecolor);
  padding: .5rem;
  width: 100%;
  background-color: var(--bg2);
}

.auth-header {
  background-color: var(--bg2);
  /* border-radius: .5rem; */
}

.fill-section {
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bg2);
  padding: 1rem;
}

.l-button {
  background-color: var(--bg3);
  color: var(--textcolor);
  /* font-size: 1.2rem; */
  /* height: 5rem; */
  border: .1rem solid var(--linecolor);
  text-align: center;
  width: 30%;
  height: 1.5rem;
  border-radius: .3rem;
}

.l-button:hover {
  cursor: pointer;
  /* border-left: .5rem solid rgb(100, 100, 240); */
  /* border-right: .5rem solid rgb(100, 100, 240); */
  border-left: .5rem solid var(--linecolor);
  border-right: .5rem solid var(--linecolor);
  transition: 0.1s;
}

.auth-button-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: .1rem solid var(--linecolor); */
  width: 100%;
}

.auth-toggle-buttons {
  border: none;
  width: 20%;
  cursor: pointer;
  background-color: var(--bg2);
  border-radius: .3rem;
  height: 1.5rem;
}

.rm-button {
  background-color: var(--bg2);
  color: var(--textcolor);
  border: .1rem solid var(--linecolor);
  height: 1.5rem;
  font-size: .7rem;
}

/* .rm-button:hover{
  color:#6464f0;
} */
.button-selected {
  background-color: #6464f0;
  color: var(--textcolor);
}