
:root {
  --mainbg: #845EC2;
  --subbg: #B39CD0;
  --light: #FBEAFF;
  --btn: #00C9A7;
  --text: #3f3f3f;
  --errmsg: #C34A36;
  --successmsg: #49887d;
  --textcolor: #e3e3e3;
  --linecolor: #3c4043;
  --bg1: #202124;
  --bg2: #1f1f1f;
  --bg3: #292a2d;
}

.header{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 3.5rem;
    font-weight: 400;
    width: 100%;
    color: #202124;
    background-color: var(--bg1);
    
  }
  .header-text{
    background-color: var(--bg1);
    color: var(--textcolor);
  }