:root {
    --mainbg: #845EC2;
    --subbg: #B39CD0;
    --light: #FBEAFF;
    --btn: #00C9A7;
    --text: #3f3f3f;
    --errmsg: #C34A36;
    --successmsg: #49887d;
    --textcolor: #e3e3e3;
    --linecolor: #3c4043;
    --bg1: #202124;
    --bg2: #1f1f1f;
    --bg3: #292a2d;
}

.news {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 0rem 3rem 0rem 3rem;
    margin-top: 9rem;
    width: 100%;
}

.newsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 22rem;
    gap: .5rem;
    padding: 1.5rem;
    background-color: #1f1f1f;
    border-radius: 1rem;
    text-align: justify;
    position: relative;
}

.newsTitle {
    background-color: #1f1f1f;
    font-size: 1rem;
    font-weight: 500;
    height: 1.5rem;
    width: 100%;
    white-space: nowrap;
    text-align: start;
    overflow-x: auto;
    overflow-y: hidden;
}

.newsTitle::-webkit-scrollbar {
    /* width: .1rem; */
    height: .2rem;
    margin: 5px;
}

.newsTitle::-webkit-scrollbar-track {
    /* background: #f0f0f0;  */
    border-radius: 1rem;
}

.newsTitle::-webkit-scrollbar-thumb {
    background-color: var(--bg3);
    /* scrollbar color */
    border-radius: 10px;
    /* border: 2px solid #f0f0f0; */
}

.newsImage {
    background-color: var(--bg2);
    width: 20rem;
    height: 10rem;
    border-radius: .3rem;
}

.newsDesc {
    background-color: #1f1f1f;
    font-size: .8rem;
    font-weight: 400;
    width: 20rem;
    height: 5rem;
    /* overflow: scroll; */
    overflow-y: auto;
    overflow-x: hidden;
    padding: .5rem;
    /* margin-bottom: .5rem; */
    /* scrollbar-width: 2px; */
    /* -ms-overflow-style: 2px;  */
}

.newsDesc::-webkit-scrollbar {
    width: .3rem;
    /* height: 1rem; */
    margin: 5px;
}

.newsDesc::-webkit-scrollbar-track {
    /* background: #f0f0f0;  */
    border-radius: 1rem;
}

.newsDesc::-webkit-scrollbar-thumb {
    background-color: var(--bg3);
    /* scrollbar color */
    border-radius: 10px;
    /* border: 2px solid #f0f0f0; */
}

.newsDate {
    margin-top: .5rem;
    background-color: #1f1f1f;
    font-size: .8rem;
    font-weight: 500;
    width: 100%;
}

.newsBy {
    /* margin-top: .5rem; */
    background-color: #1f1f1f;
    font-size: .8rem;
    font-weight: 500;
    width: 100%;

}

.delete-news-button{
    border: .1rem solid var(--linecolor);
    border-radius: .3rem;
    color: var(--textcolor);
    cursor: pointer;
    height: 1.5rem;
    font-size: .7rem;
    position: absolute;
    top: 0;
    right: 0;

}